<a href="https://colab.research.google.com/github/anjunjin/PFE-ING3-IA/blob/branch1/GetCsvFromJsonOnline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
import urllib.request, json 
with urllib.request.urlopen("https://www.lemonde.fr/webservice/decodex/updates") as url: # Obtenir le fichier JSON de https://www.lemonde.fr/webservice/decodex/updates
    data = json.loads(url.read().decode())

# data.keys() #On obtient le premier dictionnaire, sites et url, contient des dictionnaire
# data["sites"].keys() #On obtient le sous-dictionnaire, chaque site, contient des tableaux

In [4]:
# print(data)
# data.keys() # Vérifie la forme que prend les fichier JSON
# data["sites"]
# data["sites"]['1980']
# data["sites"]['1980'][2]
# data["sites"].keys()
# for i in data["sites"].keys():
#   print(type(i))

# for i in data["sites"].keys():
#   print(data["sites"][i][2])

# data["urls"].keys()
# data["urls"]['the-postillon.com']

In [5]:
import pandas as pd

dataset = []

for i in data["sites"].keys(): # On créé un tableau avec la liste de tous les sites du fichier JSON. On a leur identifiant, leur niveau de fiabilité, une description, et 2 noms dont l'un est simplifié
  dataset.append([i,data["sites"][i][0], data["sites"][i][1], data["sites"][i][2], data["sites"][i][3]])

tableauSites = pd.DataFrame(dataset, columns=['Identifiant','Fiabilité','Description','Nom1','Nom2']) #Pour que le tableau prenne la forme d'un tableau (dataset n'étant en réalité qu'une liste)
tableauSites

     Identifiant  ...                         Nom2
0           1982  ...                  france-soir
1           1981  ...  regenere-thierry-casasnovas
2           1980  ...               silvano-trotta
3           1979  ...                 jasper-mader
4           1978  ...                     agora-tv
...          ...  ...                          ...
1338         577  ...                  dailymotion
1339         576  ...                     agoravox
1340         575  ...                         9gag
1341         574  ...                    wikipedia
1342         573  ...                      wikihow

[1343 rows x 5 columns]

In [170]:
# tableauSites['Twitter'] = tableauSites['Nom1']
# tableauSites

import re

# data["urls"] = dict(sorted(data["urls"].items(), key=lambda item: item[1], reverse=True))

# dataset = []
# for i in data["urls"].keys(): # On créé un tableau contenant un lien twitter pour chaque site faisant parti du fichier JSON, si le fichier ne contenaint pas de lien twitter, on le remplace par Nan (objectif serait de trouver le lien avec une sorte de fonction TwitterSearchAccount)
#   if (dataset != []):
#     if ((data["urls"][i] - dataset[len(dataset)-1][0] < -1) or (data["urls"][i] - dataset[len(dataset)-1][0] > 1)): # Cas où pour un identifiant particulié aucun lien twitter n'a été trouvé dans le fichier JSON
#       dataset.append([data["urls"][i]+1, "NaN"]) # On rajoute alors une ligne NaN pour cet identifiant (objectif étant de directement chercher le compte twitter avec une fonction de recherche de compte)
#   if re.search('twitter', i): # Y a un lien twitter, on l'ajoute à notre tableau
#     dataset.append([data["urls"][i], i])

# tableauSites['Twitter'] = pd.DataFrame([i[1] for i in dataset])
# #Oh non le JSON est pas trié !
# tableauSites

# print(data["urls"])

dt = []
compteur = 0
for i in data["urls"].keys():
  if not(re.search('twitter', i)):
    print()
    dt.append(compteur)
  compteur = compteur+1

df = pd.DataFrame([data["urls"][i], i] for i in data["urls"].keys())
df = df.sort_index()
df = df.drop(index=dt)
df = df.reset_index()
df = df.drop(columns="index")
df

j = len(df.index)
dd = []

for i in range(j-1):
  for k in range(1, df[0][i] - df[0][i+1]): # Cas où pour un identifiant particulié aucun lien twitter n'a été trouvé dans le fichier JSON
    dd.append([df[0][i]-k, "NaN"])

df = df.append(pd.DataFrame(dd))
df

        0                             1
0    1982       twitter.com/france_soir
1    1981   twitter.com/ThierryRegenere
2    1980    twitter.com/silvano_trotta
3    1976  twitter.com/emakrusi?lang=fr
4    1973       twitter.com/llp_le_vrai
..    ...                           ...
980   581                           NaN
981   580                           NaN
982   579                           NaN
983   578                           NaN
984   577                           NaN

[1410 rows x 2 columns]

In [ ]:
# 1 : site parodique
# 2 : non fiable
# 3 : site à la fiabilité douteuse
# 4 : fiable